{% set title = "Bookings" %}
{% extends 'base.html' %}

{% block content %}
    <form action="{{ url_for('search_bookings') }}" method="GET">
        <input type="search" id="querybookings" name="q" placeholder="Search..." required
            value="{{ query if query != None else '' }}">
        <button type="submit">Search Bookings</button>
    </form>
    <ul>
        {% for booking in pagination.items %}
            <li><a href="{{ url_for('booking_details', book_id=booking.bookid) }}">
                {{ booking.member.firstname }} {{ booking.member.surname }} {{ booking.starttime }} {{ booking.slots }}
                </a>
                {{ booking.facility.name }}
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if pagination.has_prev %}
            <span>
                <a class='page-number' href="{{ url_for('bookings', page=pagination.prev_num, q=query) }}">
                    {{ '<<<' }}
                </a>
            </span>
        {% endif %}
    
        {% for number in pagination.iter_pages() %}
            {% if pagination.page != number %}
                <span>
                        <a class='page-number'
                            href="{{ url_for('bookings', page=number, q=query) }}">
                        {{ number }}
                        </a>
                </span>
            {% else %}
                <span class='current-page-number'>{{ number }}</span>
            {% endif %}
        {% endfor %}
    
        {% if pagination.has_next %}
            <span>
                <a class='page-number'
                    href="{{ url_for('bookings', page=pagination.next_num, q=query) }}">
                    {{ '>>>' }}
                </a>
            </span>
        {% endif %}
    </div>
{% endblock %}
