{% set title = "Facilities" %}
{% extends 'base.html' %}

{% block content %}
    <div>
        <table>
            <tr><td>Name:</td><td>{{ facility.name }}</td></tr>
            <tr><td>Member Cost:</td><td>{{ facility.membercost }}</td></tr>
            <tr><td>Guest Cost:</td><td>{{ facility.guestcost }}</td></tr>
            <tr><td>Initial Outlay:</td><td>{{ facility.initialoutlay }}</td></tr>
            <tr><td>Monthly Maintenance:</td><td>{{ facility.monthlymaintenance }}</td></tr>
        </table>
    </div>
    <h2>Bookings</h2>
    <ul>
        {% for booking in facility.bookings %}
            <li><a href="{{ url_for('booking_details', book_id=booking.bookid) }}">
                {{ booking.starttime }} - {{ booking.member.firstname }} {{ booking.member.surname }} - {{ booking.slots }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
